<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>status</key>
	<string></string>
	<key>email</key>
	<string></string>
	<key>comname</key>
	<string></string>
	<key>comimg</key>
	<string></string>
	<key>ipaddress</key>
	<string></string>
	<key>bell</key>
	<string></string>
	<key>pwsaved</key>
	<string></string>
	<key>pw</key>
	<string></string>
	<key>lastroomkey</key>
	<string></string>
	<key>noticechatdate</key>
	<string></string>
	<key>noticedate</key>
	<string></string>
	<key>skey</key>
	<string></string>
	<key>msg</key>
	<string></string>
	<key>voip</key>
	<string></string>
	<key>bon</key>
	<string></string>
	<key>was</key>
	<string></string>
	<key>push</key>
	<string></string>
	<key>con</key>
	<string></string>
	<key>sip</key>
	<string></string>
	<key>myinfo</key>
	<dict>
		<key>privatetimelineimage</key>
		<string></string>
		<key>companytimelineimage</key>
		<string></string>
		<key>cellphone</key>
		<string></string>
		<key>deptcode</key>
		<string></string>
		<key>deptname</key>
		<string></string>
		<key>duty</key>
		<string></string>
		<key>email</key>
		<string></string>
		<key>name</key>
		<string></string>
		<key>officephone</key>
		<string></string>
		<key>position</key>
		<string></string>
		<key>profileimage</key>
		<string></string>
		<key>sessionkey</key>
		<string></string>
		<key>uid</key>
		<string></string>
	</dict>
	<key>toptree</key>
	<array/>
	<key>lasatdate</key>
	<string></string>
	<key>deviceid</key>
	<string></string>
	<key>team_level</key>
	<string></string>
	<key>loginpassword</key>
	<string></string>
	<key>loginfo</key>
	<string></string>
	<key>userlevel</key>
	<string></string>
	<key>agree</key>
	<string></string>
</dict>
</plist>
