<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlarmSounds</key>
	<array>
		<dict>
			<key>filename</key>
			<string>noti01.caf</string>
			<key>name</key>
			<string>기본알림음1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>noti02.caf</string>
			<key>name</key>
			<string>기본알림음2</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>notify.caf</string>
			<key>name</key>
			<string>기본알림음3</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>silent.wav</string>
			<key>name</key>
			<string>무음</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>youwin.caf</string>
			<key>name</key>
			<string>YouWin</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>keys.caf</string>
			<key>name</key>
			<string>건반음</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>bamboo.caf</string>
			<key>name</key>
			<string>대나무</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>circle.caf</string>
			<key>name</key>
			<string>둥근음</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>invite.caf</string>
			<key>name</key>
			<string>맥박소리</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>aurora.caf</string>
			<key>name</key>
			<string>오로라</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>hello.caf</string>
			<key>name</key>
			<string>인사</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>synth.caf</string>
			<key>name</key>
			<string>전자음</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>popcorn.caf</string>
			<key>name</key>
			<string>튀는음</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>chord.caf</string>
			<key>name</key>
			<string>화음</string>
		</dict>
	</array>
	<key>Ringtones</key>
	<array>
		<dict>
			<key>filename</key>
			<string>ring01.caf</string>
			<key>name</key>
			<string>기본벨소리1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>ring02.caf</string>
			<key>name</key>
			<string>기본벨소리2</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>1.wav</string>
			<key>name</key>
			<string>기본벨소리3</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>2.wav</string>
			<key>name</key>
			<string>기본벨소리4</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>3.wav</string>
			<key>name</key>
			<string>기본벨소리5</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>silent.wav</string>
			<key>name</key>
			<string>무음</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>sencha.caf</string>
			<key>name</key>
			<string>녹차</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>slowrise.caf</string>
			<key>name</key>
			<string>느린상승</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>ripples.caf</string>
			<key>name</key>
			<string>물결</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>twinkle.caf</string>
			<key>name</key>
			<string>반짝반짝</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>nightowl.caf</string>
			<key>name</key>
			<string>밤부엉이</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>constell.caf</string>
			<key>name</key>
			<string>별자리</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>silk.caf</string>
			<key>name</key>
			<string>실크</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>apex.caf</string>
			<key>name</key>
			<string>정점</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>crystal.caf</string>
			<key>name</key>
			<string>크리스탈</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>waves.caf</string>
			<key>name</key>
			<string>파장</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>presto.caf</string>
			<key>name</key>
			<string>프레스토</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>uplift.caf</string>
			<key>name</key>
			<string>희망</string>
		</dict>
	</array>
</dict>
</plist>
